html{
    font-family: 'ui-monospace', sans-serif;
    font-size: 62.5%; 
}

body{
    width: 20em;
    max-width: 40em;
    margin: 0 auto;
}

header{
    text-align: center;
}

header > h1{
    margin-bottom: 0;
}

.add-tasks{
    display: flex;
    justify-content: center;
    gap: 1em;
    margin: 0;
}